@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    The goal of our project is to build a web application that connects 
    volunteers to charitable opportunities. We plan to make this an 
    engaging experience for both sides by keeping the following ideas 
    in mind. We need to find volunteers nearby opportunities that suit 
    their interests and to gamify the volunteering experience with milestones 
    that can be shared on social media. We want to provide charities a medium 
    to find more volunteers, get feedback from volunteers, and reward their 
    volunteers. We are working with Microsoft to guide us through building 
    an open source API. We are also working with Gamers Outreach, a 
    501(c)(3) non-profit organization, and its volunteers to guide us in 
    design choices to make our application fun and useful.
</p>
