@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="row banner">
        <div class="intro-text">
            <h1>Charma</h1>
            <p class="lead">Charma is an open source web application that connects volunteers to charitable opportunities.</p>
            <p><a href="https://github.com/aav7fl/GVSU-capstone-project" class="btn btn-primary btn-lg">Source code &raquo;</a></p>
        </div>
    </div>

    <div class="row text-content">
        <div class="col-md-4">
            <h2>Gamers Outreach</h2>
            <p>
                Gamers Outreach eases the burdens of hospitalization by providing equipment, technology, and 
                software to help kids cope with treatment.
            </p>
            <p><a class="btn btn-default" href="https://gamersoutreach.org/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Gamers For Giving</h2>
            <p>
                Gamers for Giving is a competitive gaming tournament and LAN party that helps generate 
                resources for the initiatives of Gamers Outreach. Funds raised from the event help support 
                Gamers Outreach charity programs, such as building portable gaming carts for children in hospitals.
            </p>
            <p><a class="btn btn-default" href="http://gamersforgiving.org/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>