@{
    Layout = null;
}
<style>
    .badge {
        max-width: 150px;
        max-height: 150px;
        margin-top: 20px;
        background-color: white;
    }

    .badge > svg {
        width: 100%;
        display: block;
    }
</style>
<div class="container">
        <div class="col-sm-3">
            <div id="b1" class="badge">
                <p>5+</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="b2" class="badge">
                <p>15+</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="b3" class="badge">
                <p>30+</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="b4" class="badge">
                <p>50+</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="b5" class="badge">
                <i class="fa fa-thumbs-up fa-3x"></i>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="b6" class="badge">
                <i class="fa fa-trophy fa-3x"></i>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="b7" class="badge">
                <i class="fa fa-graduation-cap fa-3x"></i>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="b8" class="badge">
                <i class="fa fa-leaf fa-3x"></i>
            </div>
        </div>
</div>