@model Web.Models.IndexViewModel
@{
    ViewBag.Title = "Volunteer profile";
}

<h2>@ViewBag.Title.</h2>

@Html.ActionLink("Edit Profile", "Edit")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}