<div>
        <div class="row">
            <div class="col-sm-4 text-left">
                <span>&copy; @DateTime.Now.Year - Charma</span>
            </div>
            <div class="col-sm-8 footer-links">
                @Html.ActionLink("Contact", "Contact", "Home")
            </div>
        </div>
</div>