<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-left">
                <span>Charma &copy; @DateTime.Now.Year</span>
            </div>
            <div class="col-sm-4 footer-links">
                @Html.ActionLink("Contact Us", "Contact", "Home")
            </div>
        </div>
    </div>
</div>