/***************************************************************************
 * DOCUMENT
 ***************************************************************************/

/**
    COLOR PALETTE
    Gray:   #323A45
    Blue:   #00AFD1
    Teal:   #1FBBA6
    Orange: #F27935
    Red:    #D64541
**/

html, body { 
    height: 100%;
    background-color: #323A45;
    color: #323A45;
}

.body-content {
    background-color: white;
    min-height: 100%;
    padding: 70px 15px 65px 15px; /** Offsets negative margins in rows when using fluid layout **/
}

.home-banner {
    background-image: url('../../Content/Images/home-image.jpg'); 
    background-repeat: none;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover; 
    background-attachment: scroll;
    background-position: center;
    text-align: center;
    padding: 0px;
}

.home-banner .intro-text {
    color: white;
    padding-top: 250px;
    padding-bottom: 150px;
}

.home-text-content {
    padding: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/**
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/***************************************************************************
 * HEADER & NAV BAR
 ***************************************************************************/
.navbar-fixed-top  {
     -webkit-backface-visibility: hidden;
     min-height: 70px;
}

/* header */
.navbar-default {
    color: #323A45;
    background-color: white;
    padding-top: 5px;
    font-size: 18px;
    border-bottom: 4px solid #00AFD1;
}

/* header brand */
.navbar-default .navbar-brand {
    color: #F27935;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.navbar-default .navbar-brand:hover {
    color: #F27935;
}

/* header links */
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        border-bottom: 3px solid #F27935;
    }
}

/* mobile and tablet*/
@media (max-width: 992px) {
    .hideOnTablet {
        display: none !important;
    }
}



.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #323A45;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #F27935;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #F27935;
}

/***************************************************************************
 * FOOTER AND COPYRIGHT
 ***************************************************************************/
.footer {
    position: absolute;
    margin-bottom: -60px;
    width: 100%;
    line-height: 55px;
    height: 60px;
    background-color: #F27935;
    color: white;
}

.footer a {
    color: white;
    text-decoration: underline;
}